<%= form_with model: [ @animal, @animal.sightings.build ] do |form| %>
  <p>
    <%= form.label :spotter %><br>
    <%= form.text_field :spotter %>
  </p>
  <p>
    <%= form.label :date %><br>
    <%= form.datetime_local_field :date %>
  </p>
  <p>
    <%= form.label :latitude %><br>
    <%= form.number_field :latitude, in: -90.0..90.0, step: :any %>
  </p>
  <p>
    <%= form.label :longitude %><br>
    <%= form.number_field :longitude, in: -180.0..180.0, step: :any %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
