<p>
  <strong>Spotter:</strong>
  <%= sighting.spotter %>
</p>

<p>
  <strong>Date:</strong>
  <%= sighting.date %>
</p>

<p>
  <strong>Region:</strong>
  <%= sighting.region.name %>
</p>

<p>
  <strong>Location:</strong>
  (<%= sighting.latitude %>ยบ, <%= sighting.longitude %>ยบ)
</p>

<p>
  <%= link_to 'Remove Sighting', [sighting.animal, sighting],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>