<h1>Sherwood Wildlife</h1>
<p>Welcome to the Sherwood Forest Service. Here you can find the list of animals that live in the Forest.</p>

<div style="float:left; width:50%;">
  <h2>Animals</h2>
  <%= render "animals/list", animals: @animals %>
  <h2>Regions</h2>
  <%= render "regions/list", regions: @regions %>
</div>
<div style="float:left; width:50%;">
  <h2>Sightings</h2>
  <h3>Last sightings</h3>
  <%= render "sightings/list", sightings: @last_sightings %>
  <h3>Sightings reports</h3>
  <%= form_with url: "sightings/search", method: :get do |form| %>
    <%= form.label :from %>
    <%= form.datetime_local_field :from %>
    <%= form.label :to %>
    <%= form.datetime_local_field :to %>
    <%= form.submit "Search" %>
  <% end %>
</div>
