<%= form_with model: animal do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% animal.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :binomial_name %><br>
    <%= form.text_field :binomial_name %><br>
    <% animal.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :animal_class %><br>
    <%= form.select :animal_class, ['Mammal', 'Bird', 'Reptile', 'Amphibian', 'Fish', 'Insect', 'Arachnid'], selected: 'public' %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <% animal.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>