<h1><%= @animal.name %> (<em><%= @animal.binomial_name %></em>)</h1>

<h2>Info</h2>
<% unless @animal.image_url.nil? %>
  <img src="<%= @animal.image_url %>" alt="<%= @animal.name %>" width="300px" style="float:right; margin-right: 100px;">
<% end %>
<p>The <%= @animal.name %> is a <%= @animal.animal_class %></p>
<p><%= @animal.description %></p>

<h2>Sightings (<%= @animal.sightings.count%>)</h2>
<% if @animal.sightings.empty? %>
  <p>No sightings</p>
<%else %>
  <%= render @animal.sightings %>
<% end %>

<h2>Options</h2>
<ul>
  <li><%= link_to "Add a sighting", new_animal_sighting_path(@animal) %></li>
  <li><%= link_to "Edit", edit_animal_path(@animal) %></li>
  <li><%= link_to "Destroy", animal_path(@animal),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
  <li><%= link_to "Back to animals", animals_path %></li>
</ul>

